#Ignore virtual environment directories
venv/

#Ignore Python bytecode files
_pycache/
*.py[cod]
*.pyo

#Ignore environment variables file
.env
.env*.local

#Dependencies
node_modules/

#Build output
/dist

#Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

#VSCode editor directory
.vscode